<div class="container">
    <div class="row content">
        <div class="col-12">
            <h3>Formulaire Reactif</h3>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-4">
                <div class="mb-2">
                    <label>Nom(s) & Prénom(s) : </label>
                    <input type="text" class="form-control" formControlName="nom">
                    <app-validation
                        [error]="form.get('nom')?.errors"
                        [showError]="true"
                        [control]="form.get('nom')">
                    </app-validation>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-2">
                    <label>Email :</label>
                    <input type="email" class="form-control" formControlName="email">
                    <app-validation
                        [error]="form.get('email')?.errors"
                        [showError]="true"
                        [control]="form.get('email')">
                    </app-validation>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-2">
                    <label>Téléphone : </label>
                    <input type="text" class="form-control" formControlName="telephone">
                    <app-validation
                        [error]="form.get('telephone')?.errors"
                        [showError]="true"
                        [control]="form.get('telephone')">
                    </app-validation>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-2">
                    <label>Montant Max : </label>
                    <input type="text" class="form-control" formControlName="max_amount">
                    <app-validation
                        [error]="form.get('max_amount')?.errors"
                        [showError]="true"
                        [control]="form.get('max_amount')">
                    </app-validation>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-2">
                    <label>Montant Min : </label>
                    <input type="text" class="form-control" formControlName="min_amount">
                    <app-validation
                        [error]="form.get('min_amount')?.errors"
                        [showError]="true"
                        [control]="form.get('min_amount')">
                    </app-validation>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Sauvegarder</button>
            </div>
        </div>
    </form>
</div>
